* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #2A3845;
  background: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.info {
  margin-top: 50px;
  padding: 20px 10px;  
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
  border-bottom: 4px solid gray;
}

img {
  object-fit: cover;
  object-position: 0 40%;
  border-radius: 50%;
  border: 1px solid grey;
}

h1, h2 {
  color: rgb(39, 74, 107);
}

.contacts {
  justify-self: end;
  font-size: 19px;
}

.contacts ul {
  list-style: none;
}

.contacts ul li a {
  text-decoration: none;
  color: #5e809b;
}

.education, .work-experience, .skills, .courses, .code-example, .english-level {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 20px;
} 

.education > h2 {
  grid-row: 1 / span 3;
}

.education::after, .work-experience::after, .skills::after, .courses::after, .code-example::after {
  background: rgb(76, 76, 76);
  content: '';
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  grid-column: 1 / span 2;
  margin-top: 20px;
}

/* section.education:last-child {
  color: red;
}
section.education:only-child {
  padding: 50px;
} */

.work-experience > h2 {
  grid-row: 1 / span 3;
}

.work-experience > article > p {
  line-height: 1.6;
  padding-top: 10px;
}

.work-experience > article > h3 {
  text-transform: uppercase;
  color: rgb(68, 68, 68);
}
.work-experience > article > h3 > span {
  color: black;
  font-style: italic;
  text-transform: lowercase;
  padding-left: 15px;
}

.skills li {
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 10px;
}

.skills > ol :last-child {
  border-right: none;
}

.code {
  border-top: 1px solid #5e809b;
  border-right: 1px solid #5e809b
}

.english {
  text-align: right;
}
